@font-face {
    font-family: 'poppinsblack';
    src: url('./fonts/poppins-black-webfont.woff2') format('woff2'),
         url('./fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinslight';
    src: url('./fonts/poppins-light-webfont.woff2') format('woff2'),
         url('./fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    background: url(./image/space_v5akvl/320px.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading {
    font-family: 'Poppinsblack', sans-serif;
    text-shadow: 5px 3px black;
    color: aliceblue;
    word-spacing: 15px; 
    text-align: center;
    margin-bottom: 50px;
}
.note {
    font-family: 'poppinslight', sans-serif;
    color: white;
    background-color: hsl(0, 0%, 0%, 0.5);
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 321px) 
{ 
    .container {
        background: url(./image/space_v5akvl/853px.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }  
}
 @media screen and (min-width: 854px)
{
    .container {
        background: url(./image/space_v5akvl/1228px.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media screen and (min-width: 1229px) 
{
    .container {
        background: url(./image/space_v5akvl/1440px.jpg);
        background-repeat: no-repeat;
        background-size: cover;}
} 